USE [master]
GO
/****** Object:  Database [QL_NHOMNHAC]    Script Date: 10/1/2022 10:33:53 PM ******/
CREATE DATABASE [QL_NHOMNHAC]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QL_NHOMNHAC', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\QL_NHOMNHAC.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QL_NHOMNHAC_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\QL_NHOMNHAC_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QL_NHOMNHAC].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QL_NHOMNHAC]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 10/1/2022 10:33:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ANHTHANHVIEN]    Script Date: 10/1/2022 10:33:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ANHTHANHVIEN](
	[IdThanhVien] [int] NOT NULL,
	[IdAnh] [int] NOT NULL,
 CONSTRAINT [PK_ANHTHANHVIEN] PRIMARY KEY CLUSTERED 
(
	[IdAnh] ASC,
	[IdThanhVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIETLOAIVE]    Script Date: 10/1/2022 10:33:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETLOAIVE](
	[IdShow] [int] NOT NULL,
	[IdLoaiVe] [int] NOT NULL,
	[Gia] [numeric](18, 0) NOT NULL,
	[SoLuongBanRa] [int] NOT NULL,
	[ConLai] [int] NOT NULL,
	[IdShowVsLoaiVe] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_CHITIETVE_SHOW] PRIMARY KEY CLUSTERED 
(
	[IdLoaiVe] ASC,
	[IdShow] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [AK_CHITIETVE_SHOW_IdShowVsLoaiVe] UNIQUE NONCLUSTERED 
(
	[IdShowVsLoaiVe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HINHANH]    Script Date: 10/1/2022 10:33:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HINHANH](
	[IdAnh] [int] IDENTITY(1,1) NOT NULL,
	[Anh] [image] NOT NULL,
	[IdLoai] [int] NOT NULL,
 CONSTRAINT [PK_HINHANH] PRIMARY KEY CLUSTERED 
(
	[IdAnh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 10/1/2022 10:33:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON](
	[IdHoaDon] [int] IDENTITY(1,1) NOT NULL,
	[SoLuong] [int] NOT NULL,
	[NgayGiaoDich] [datetime2](7) NOT NULL,
	[SDT] [varchar](10) NULL,
 CONSTRAINT [PK_HOADON] PRIMARY KEY CLUSTERED 
(
	[IdHoaDon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 10/1/2022 10:33:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[SDT] [varchar](10) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[TenKhachHang] [nvarchar](50) NULL,
	[SoTaiKhoan] [varchar](12) NOT NULL,
	[SoDu] [numeric](18, 0) NOT NULL,
	[NganHang] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[SDT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAIANH]    Script Date: 10/1/2022 10:33:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAIANH](
	[IdLoai] [int] IDENTITY(1,1) NOT NULL,
	[Loai] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_LOAIANH] PRIMARY KEY CLUSTERED 
(
	[IdLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAIVE]    Script Date: 10/1/2022 10:33:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAIVE](
	[IdLoaiVe] [int] IDENTITY(1,1) NOT NULL,
	[TenLoai] [nvarchar](50) NOT NULL,
	[ChiTiet] [ntext] NULL,
 CONSTRAINT [PK_LOAIVE] PRIMARY KEY CLUSTERED 
(
	[IdLoaiVe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHOMNHAC]    Script Date: 10/1/2022 10:33:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHOMNHAC](
	[IdNhom] [int] IDENTITY(1,1) NOT NULL,
	[TenNhom] [nvarchar](50) NOT NULL,
	[DebutDate] [date] NOT NULL,
	[CongTy] [nvarchar](50) NOT NULL,
	[ChiTiet] [ntext] NULL,
	[Spotify] [varchar](500) NULL,
	[AppleMusic] [varchar](500) NULL,
	[Youtube] [varchar](500) NULL,
	[Logo] [image] NOT NULL,
 CONSTRAINT [PK_NHOMNHAC] PRIMARY KEY CLUSTERED 
(
	[IdNhom] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SHOW]    Script Date: 10/1/2022 10:33:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SHOW](
	[IdShow] [int] IDENTITY(1,1) NOT NULL,
	[TenShow] [nvarchar](255) NOT NULL,
	[ThoiDiemBieuDien] [datetime2](7) NOT NULL,
	[ThoiDiemMoBan] [datetime2](7) NOT NULL,
	[DiaDiem] [nvarchar](255) NOT NULL,
	[IdNhom] [int] NULL,
 CONSTRAINT [PK_SHOW] PRIMARY KEY CLUSTERED 
(
	[IdShow] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SHOW_HINHANH]    Script Date: 10/1/2022 10:33:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SHOW_HINHANH](
	[IdShow] [int] NOT NULL,
	[IdAnh] [int] NOT NULL,
 CONSTRAINT [PK_SHOW_HINHANH] PRIMARY KEY CLUSTERED 
(
	[IdAnh] ASC,
	[IdShow] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THANHVIEN]    Script Date: 10/1/2022 10:33:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THANHVIEN](
	[IdThanhVien] [int] IDENTITY(1,1) NOT NULL,
	[NgheDanh] [nvarchar](50) NOT NULL,
	[TenKhaiSinh] [nvarchar](50) NOT NULL,
	[NgaySinh] [date] NOT NULL,
	[QuocTich] [nvarchar](50) NOT NULL,
	[DebutDate] [date] NOT NULL,
	[TieuSu] [ntext] NULL,
	[Instagram] [nvarchar](500) NULL,
	[Twitter] [nvarchar](500) NULL,
	[TrangThai] [nvarchar](50) NULL,
 CONSTRAINT [PK_THANHVIEN] PRIMARY KEY CLUSTERED 
(
	[IdThanhVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THANHVIEN_VAITRO]    Script Date: 10/1/2022 10:33:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THANHVIEN_VAITRO](
	[IdThanhVien] [int] NOT NULL,
	[IdVaiTro] [int] NOT NULL,
 CONSTRAINT [PK_THANHVIEN_VAITRO] PRIMARY KEY CLUSTERED 
(
	[IdThanhVien] ASC,
	[IdVaiTro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VAITRO]    Script Date: 10/1/2022 10:33:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VAITRO](
	[IdVaiTro] [int] IDENTITY(1,1) NOT NULL,
	[TenVaiTro] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_VAITRO] PRIMARY KEY CLUSTERED 
(
	[IdVaiTro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [AK_VAITRO_TenVaiTro] UNIQUE NONCLUSTERED 
(
	[TenVaiTro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VE]    Script Date: 10/1/2022 10:33:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VE](
	[MaSoVe] [varchar](25) NOT NULL,
	[IdShowVsLoaiVe] [int] NULL,
	[IdHoaDon] [int] NULL,
 CONSTRAINT [PK_VE] PRIMARY KEY CLUSTERED 
(
	[MaSoVe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_ANHTHANHVIEN_IdThanhVien]    Script Date: 10/1/2022 10:33:53 PM ******/
CREATE NONCLUSTERED INDEX [IX_ANHTHANHVIEN_IdThanhVien] ON [dbo].[ANHTHANHVIEN]
(
	[IdThanhVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CHITIETVE_SHOW_IdShow]    Script Date: 10/1/2022 10:33:53 PM ******/
CREATE NONCLUSTERED INDEX [IX_CHITIETVE_SHOW_IdShow] ON [dbo].[CHITIETLOAIVE]
(
	[IdShow] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_HINHANH_IdLoai]    Script Date: 10/1/2022 10:33:53 PM ******/
CREATE NONCLUSTERED INDEX [IX_HINHANH_IdLoai] ON [dbo].[HINHANH]
(
	[IdLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SHOW_HINHANH_IdShow]    Script Date: 10/1/2022 10:33:53 PM ******/
CREATE NONCLUSTERED INDEX [IX_SHOW_HINHANH_IdShow] ON [dbo].[SHOW_HINHANH]
(
	[IdShow] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_THANHVIEN_VAITRO_IdVaiTro]    Script Date: 10/1/2022 10:33:53 PM ******/
CREATE NONCLUSTERED INDEX [IX_THANHVIEN_VAITRO_IdVaiTro] ON [dbo].[THANHVIEN_VAITRO]
(
	[IdVaiTro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[HOADON] ADD  DEFAULT ((1)) FOR [SoLuong]
GO
ALTER TABLE [dbo].[ANHTHANHVIEN]  WITH CHECK ADD  CONSTRAINT [FK_ANHTHANHVIEN_HINHANH_IdAnh] FOREIGN KEY([IdAnh])
REFERENCES [dbo].[HINHANH] ([IdAnh])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ANHTHANHVIEN] CHECK CONSTRAINT [FK_ANHTHANHVIEN_HINHANH_IdAnh]
GO
ALTER TABLE [dbo].[ANHTHANHVIEN]  WITH CHECK ADD  CONSTRAINT [FK_ANHTHANHVIEN_THANHVIEN_IdThanhVien] FOREIGN KEY([IdThanhVien])
REFERENCES [dbo].[THANHVIEN] ([IdThanhVien])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ANHTHANHVIEN] CHECK CONSTRAINT [FK_ANHTHANHVIEN_THANHVIEN_IdThanhVien]
GO
ALTER TABLE [dbo].[CHITIETLOAIVE]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETVE_SHOW_LOAIVE_IdLoaiVe] FOREIGN KEY([IdLoaiVe])
REFERENCES [dbo].[LOAIVE] ([IdLoaiVe])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CHITIETLOAIVE] CHECK CONSTRAINT [FK_CHITIETVE_SHOW_LOAIVE_IdLoaiVe]
GO
ALTER TABLE [dbo].[CHITIETLOAIVE]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETVE_SHOW_SHOW_IdShow] FOREIGN KEY([IdShow])
REFERENCES [dbo].[SHOW] ([IdShow])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CHITIETLOAIVE] CHECK CONSTRAINT [FK_CHITIETVE_SHOW_SHOW_IdShow]
GO
ALTER TABLE [dbo].[HINHANH]  WITH CHECK ADD  CONSTRAINT [FK_HINHANH_LOAIANH_IdLoai] FOREIGN KEY([IdLoai])
REFERENCES [dbo].[LOAIANH] ([IdLoai])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HINHANH] CHECK CONSTRAINT [FK_HINHANH_LOAIANH_IdLoai]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_KHACHHANG] FOREIGN KEY([SDT])
REFERENCES [dbo].[KHACHHANG] ([SDT])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_KHACHHANG]
GO
ALTER TABLE [dbo].[SHOW]  WITH CHECK ADD  CONSTRAINT [FK_SHOW_NHOMNHAC] FOREIGN KEY([IdNhom])
REFERENCES [dbo].[NHOMNHAC] ([IdNhom])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[SHOW] CHECK CONSTRAINT [FK_SHOW_NHOMNHAC]
GO
ALTER TABLE [dbo].[SHOW_HINHANH]  WITH CHECK ADD  CONSTRAINT [FK_SHOW_HINHANH_HINHANH_IdAnh] FOREIGN KEY([IdAnh])
REFERENCES [dbo].[HINHANH] ([IdAnh])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SHOW_HINHANH] CHECK CONSTRAINT [FK_SHOW_HINHANH_HINHANH_IdAnh]
GO
ALTER TABLE [dbo].[SHOW_HINHANH]  WITH CHECK ADD  CONSTRAINT [FK_SHOW_HINHANH_SHOW_IdShow] FOREIGN KEY([IdShow])
REFERENCES [dbo].[SHOW] ([IdShow])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SHOW_HINHANH] CHECK CONSTRAINT [FK_SHOW_HINHANH_SHOW_IdShow]
GO
ALTER TABLE [dbo].[THANHVIEN_VAITRO]  WITH CHECK ADD  CONSTRAINT [FK_THANHVIEN_VAITRO_THANHVIEN_IdThanhVien] FOREIGN KEY([IdThanhVien])
REFERENCES [dbo].[THANHVIEN] ([IdThanhVien])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[THANHVIEN_VAITRO] CHECK CONSTRAINT [FK_THANHVIEN_VAITRO_THANHVIEN_IdThanhVien]
GO
ALTER TABLE [dbo].[THANHVIEN_VAITRO]  WITH CHECK ADD  CONSTRAINT [FK_THANHVIEN_VAITRO_VAITRO_IdVaiTro] FOREIGN KEY([IdVaiTro])
REFERENCES [dbo].[VAITRO] ([IdVaiTro])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[THANHVIEN_VAITRO] CHECK CONSTRAINT [FK_THANHVIEN_VAITRO_VAITRO_IdVaiTro]
GO
ALTER TABLE [dbo].[VE]  WITH CHECK ADD  CONSTRAINT [FK_VE_CHITIETLOAIVE] FOREIGN KEY([IdShowVsLoaiVe])
REFERENCES [dbo].[CHITIETLOAIVE] ([IdShowVsLoaiVe])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[VE] CHECK CONSTRAINT [FK_VE_CHITIETLOAIVE]
GO
ALTER TABLE [dbo].[VE]  WITH CHECK ADD  CONSTRAINT [FK_VE_HOADON] FOREIGN KEY([IdHoaDon])
REFERENCES [dbo].[HOADON] ([IdHoaDon])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[VE] CHECK CONSTRAINT [FK_VE_HOADON]
GO
USE [master]
GO
